<div class="threeparts">
  <div class="leftpart">
    <div class="leftpartofleft">
      <p>المنتجات الأقل مبيعاً</p>
      <img src="../../assets/Screenshot 2024-01-03 115302.png" alt="">
    </div>
    <div class="middlepartofleft"></div>
    <div class="rightpartofleft">
      <p>المنتجات الاكثر مبيعاً</p>
      <img src="../../assets/Screenshot 2024-01-03 120303.png" alt="">
    </div>
  </div>
  <div class="middlepart">
    <div class="chartimage">


      
    </div>
    <div class="expected">
      <p> الأرباح المتوقعه</p>
      <div class="icon">
        <img src="../../assets/wallet.png" alt="">
      </div>
      <p style="margin-left: 50px;color: #FFF;

      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.285px;
      ">$250K</p>


    </div>
  </div>
  <div class="rightpart">
    <div class="chartapex">



    </div>
    <div class="expectedu">
      <p> إحصائيات منتجات المخزن</p>
      <p style="margin-left: 100px;color: var(--Font-style-Default, #1C1C28);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.285px;">$250K</p>

    </div>

  </div>
</div>
