<div class="fouritems">
  <div class="new">
    <button class="buttonflex">
      <p>إضافة جديد</p>
      <img src="../../assets/behindbutton.png" alt="">
    </button>
  </div>
  <div class="twoicons">
    <img class="image1" src="../../assets/download.png" alt="">
    <img class="image2" src="../../assets/menu.png" alt="">
  </div>
  <div class="twowords">
    <div class="services">
      <span>70</span>
      <p>الخدمات</p>
    </div>
    <div class="products">
      <div class="number">
        <span>120</span>
      </div>
      <p>المنتجات</p>
    </div>

  </div>

</div>
